 
 .cart__container{
  display:  flex;
    width: 80%;
    margin:  0 auto;
    margin-top: 2rem;
     flex-direction: column;
      gap: 20px;

 }

.product__container__wrapper{
 display: flex;
 justify-content: flex-start;
 box-shadow: 0 0 3px rgba(0,0,0.3);
       padding: .8em;

} 
.product-description_cart__container{
    display: flex;
    flex-direction: column;
    
}
.cart__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.product__button__cart{
    display: flex;
}
.product__button__cart button{
    border:  none;
    padding: .3em 2em;
    background-color: red;

    color: white;
    border-radius: 5px;

 
}
.empty__cart{
    width: 60%;
    padding: 1em;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
}
.empty__cart p{
    font-size: 2rem;

}
.empty__cart button{
    outline: none;
    border: none;
    padding: .4em 1em;
    color: white;
    background-color: grey;
    border-radius: 5px;
    cursor: pointer;

}