.main-wrapper ,.post-wrapper{
    width: 100%;
    max-width: 900px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
    border-radius: 7px;
    border: 1px solid beige;
    padding: 1em;
    margin: 0 auto;
    margin-top: 2em;
}
.post-wrapper{
    display: block;
}
 h4{
    font-size: 1.2rem;
    font-weight: 700;
    color: #4e4e4e;
    text-transform: capitalize;
}
.title-post h5{
   font-size: 1.1rem;
       text-transform: capitalize;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #374151;
}
.content-post{
   font-size: .7rem;
   font-weight: 600;
   color: rgb(230, 227, 227);
}
.post-category-wrapper{
   display: inline-flex;
    gap: 40px;
    align-items: center;
}
.post-category-wrapper p{
    font-weight: 500;
    font-size: .89rem;
    color: black;
}
.categories-tags{
    display: flex;
   
}

 .post-all.active{
    border-bottom: 2px solid blue;
 }
.cate-sub-topic{
    display: inline-flex;
    gap: 20px;
    font-size: .8rem;
    align-items: center;
 }

 .cate-sub-topic p{
    color: rgba(12, 12, 12, 0.6);
    font-weight: 600;
 }

 .tags-main-wrapper p{
   font-weight: 600;
   font-size: .726rem;
 }


.category-length{
      font-size: 15px;
  color: #374151;
}
.tags-main-wrapper{
    display: flex;
    gap: 20px;
    font-size: .8rem;
    align-items: center;
    margin-top: .6em;
    
}
.tags-main-wrapper p{
         background-color:  rgba(180, 175, 175, 0.1);
        color: #8d8989;
        padding: .2em .4em;
        border-radius: 4px;
}

 .post-wrapper h4{
    font-size: 1.1rem;
    font-weight: 700;
 }

 .title-post{
    display: block;
 }
 .title-post p{
    font-size: .7rem;
    font-weight: 500;
    color: rgb(181, 181, 182);
 }
 
 .content{
    margin-top: .6em;
     word-break: break-all;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;

 }
 .content-post {
    color: rgb(77, 76, 76);
    font-size: .97rem;
     
 }
 
 .sub-topic{
    display: inline-flex;
    gap: 20px;
    margin-top: 1em;
    font-size: .78rem;
    align-items: center;
    justify-content: start;
 }
 .sub-topic p{
   color: rgb(119, 119, 121);
   font-weight: 600;
 }
 .reding-topic{
   background-color: #f1f1f3;
   padding: 0 .6em;
   border-radius: 3px;
 }
 
 .category-tag{
    padding: .1em 1em;
    border-radius: 7px;
    background-color: rgba(123, 123, 238, 0.2);
    color: rgb(123, 123, 238);
 }

 .tag{
    padding: .1em 1em;
    border-radius: 8px;
    background-color: rgba(216, 213, 213, 0.2);
 }

 









