.Main-wrapper{
width: 100%;
border-radius: 10px;
max-width: 500px;
box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
margin: 0 auto;
margin-top: 1.5em;
padding: 1em;
}
.form-div-wrapper{
 border: 1px solid gainsboro;
 padding: 1em;
 border-radius: 8px;

}
.form-div-wrapper input,textarea{
    width: 100%;
    outline: none;
    margin-bottom: 1em;
     border-radius: 8px;
      border: 1px solid ghostwhite;
      padding: .5em;
}
label{
    color: gray;
    font-size: .9rem;
}

.category select ,.Tags select ,.status select{
    width: 100%;
    padding: .4em;
    border: 1px solid gainsboro;
         border-radius: 8px;
       outline: none;
           margin-top: .4em;
               color: gray;

}
.status select{
  margin-top: .6em;

}

.submiy-form button{
    width: 80%;
    border-radius: 7px;
    border: none;
   background-color: blue;
   color: white;
   font-size: 1.2rem;
   margin-left: 2em;
   margin-top: 1em;

}
 