.main-header{
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: .7em;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
}
.profiles{
  display: flex;
  gap: 20px;
}
h5{
  font-size: 1.2rem;
  font-weight: 700;
}
.Posts , .Categories ,.Tags{
  font-size: .976rem;
  font-weight: 600;
  color: black;
}
.Posts:active{
  text-decoration: underline;
  color: blue;
}
.login button{
  border:  none;
  background-color: rgb(243, 215, 243);
  padding: .3em 1em;
  color: white;
  border-radius: 6px;
}