.modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    /* background-color: transparent; */
    position: fixed;
    display: flex;
     align-items: center;
     align-content: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(1px);
  
}

 .add-tags{
    background-color: white;
    padding: 1em;
    border-radius: 5px;
    margin-top: -20em
 }
 .header{
    display: flex;
 }
 

 h3{
    margin-right: 14em;
      margin-left: 8px;
      font-size: .9rem;
      font-weight: 600;

 }

.close-btn{
   
    font-size: 1.2rem;
    margin-right: 8px;
}
.form-table{
    margin-top: 2em;
        max-width: 300px;

}
.form-table input{
    width: 100%;
    margin-bottom: .3em;
    outline: none;
    border-radius: 4px;
    border: 1px solid gainsboro;
    padding: .6em;
}
 .tags-span {
     border: 1px solid gainsboro;
    color: black;
    padding: .4em 1.4em;
    border-radius: 9px;
    background-color: ghostwhite;
    margin-top: .3em;

 }
 .onclick-tags button{
margin-top: 1em;
border: none;
padding: .3em 1em;
background-color: blue;
color: white;
font-size: 1rem;
border-radius: 6px;
 }
 .tag-item{
    background-color: rgb(240, 235, 235);
    padding: 0 .5em;
    color: rgb(71, 58, 58);
    border-radius: 4px;
    font-size: .8em;
 }
 .tags-list{
    max-width: 300px;
display: inline-flex;
gap: 3px;
flex-wrap:  wrap;
 }
 .main-wrapper-tags{
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    align-items: center;
    text-align: center;
    border-radius: 4px;
 }
 .add-category{
    margin-top: 1em;
 }
