.app__singleevent__container{
    font-size: 3rem;
    color: black;
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    padding-top: 2
    em;
}
.app__singleevent__imagediv{
    width: 50%;
    display: flex;
    justify-content: center;
}
.app__singleevent__imagediv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
     display: flex;
    justify-content: flex-end;
    border-radius: 5px;
}
.app__singleevent__information{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
}
 .app__singleevent__information h3{
    font-size: 1.5rem;
    font-weight: 700;
}
.app__event__price {
 font-size: 2rem;
 margin-top: .6em;
 color: rgb(58, 58, 58);
 font-weight: 600;

}
.app__event__description{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    line-height: 23px;
    margin-top: .4em;
    font-weight: 500;
    color: gray;
}
.app__event__description p{
    font-size: 1.1rem;
}
.app__singleevent__category{
    display: flex;
    font-size: 1.4rem;
    margin-top: 1em;
    font-weight: 700;
    color: rgb(177, 19, 19);

}
.app__event__button {
display: flex;
justify-content: flex-start;
margin-top: .4em;
}
.app__event__button button{
    padding: .7em 3em;
    border: none;
    color: white;
    background-color: black;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
}

