.app__footer__container{
    background-color: #212121;
    padding: 6em;
    width: 100%;
    bottom: 0;
    position: static;
    
}
.app__footer_div__space_between{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.app__footer__heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.app__footer__heading h3{
    font-size: 2rem;
    color: ghostwhite;
    line-height: 30px;
    letter-spacing: 0.04;
    text-transform: capitalize;
}
.app__footer_input-search{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: flex-end;
    margin-right: 3em;

}
.app__footer_input-search input{
outline:  none;
border: none;
border-radius: 20px;
flex:0.5;
border: 1px solid white;
padding: .3em .4em;
background-color: ghostwhite;

}

.app__footer_button button{
    position: absolute;
    top: 2px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    outline: none;
    background: none;
        border: 1px solid;
        padding: .3em;
        border-radius: 50%;

 color: white;
 background-color: black;
}
.app__foooter_groupB{
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}
.app__footer__links{
    display: flex;
    flex-direction: column;

}
.app__footer__links p ,
.app__footer__contact-us p,
.app__footer__social-links p{
    color: lightblue;
    font-size: .9rem;
    margin-bottom: 1rem;

}
.app__footer__links li{
    display: flex;
    flex-direction: column;
    font-size: .7rem;
}
.app__footer__links a{
    color: gainsboro;
    margin: .2rem 0;

}
.app__footer__button-line{
    width: 95%;
    margin:  0 auto;
    border: 1px solid rgb(138, 136, 136);
    margin-top: 2em;
    margin-bottom: 1em;
}

@media screen  and (max-width:1024px){

}

@media screen  and (max-width:768px){
   

}

@media screen  and (max-width:480px){
  
   .app__footer_div__space_between{
    flex-direction: column;
   }

   .app__footer__heading h3{
    font-size: 1.3rem;
    margin-bottom: .4em;
   }
  
   .app__foooter_groupB{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
   }
   .app__footer__button-line{
    width: 100%;
   }
}
